!!!
%html
  %head
    %title Your WebApp is served
    %script(type="text/javascript" src="main.js")
    %link(rel="stylesheet" type="text/css" href="main.css")
  %body
    h1 It's empty here
    h1 Go back to your editor and code
