!!!
%html
  %head
    %title Your WebApp is served
    %script(data-main="scripts/main" src="bower_components/requirejs/require")
    %link(rel="stylesheet" type="text/css" href="styles/main.css")
  %body
    %h1 It's empty here
    %h1 Go back to your editor and code
